body {
  max-width: 800px;
  margin: auto;
  .wrap {
    text-align: center;
    nav {
      a:hover {
        background-color: red;
      }
      margin: 5%;
      a {
        text-decoration: none;
        color: black;
        margin-right: 7%;
      }
    }
  }
  header {
    img{
      margin: auto;
      width: 200px;
      height: auto;
    }
    display: flex;
    flex-direction: column;
    h1{
      font-size: 25px;
    }
  }
  main {
    h2 {
      left: 400px;
    }
    .flex {
      width: 100%;
       display: flex;
       flex-direction: row-reverse;
      article {
        width: 100%;
        border: 4px solid black;
        p{
          padding-bottom: 40px;
        }
      }
      aside {
        padding-right: 4%;
        img {
          width: 350px;
          height: 500px;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  body {
    max-width: 800px;
    margin: auto;
    .wrap {
      text-align: center;
      nav {
        a:hover {
          background-color: red;
        }
        margin: 5%;
        a {
          text-decoration: none;
          color: black;
          margin-right: 7%;
        }
      }
    }
    header {
      img{
        margin: auto;
        width: 200px;
        height: auto;
      }
      display: flex;
      flex-direction: column;
      h1{
        font-size: 25px;
      }
    }
    main {
      h2 {
        left: 400px;
      }
      .flex {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        article {
          margin-bottom: 3%;
          width: 90%;
          border: 4px solid black;

          p{
            padding-bottom: 40px;
          }
        }
        aside {
          padding-right: 4%;
          img {
            width: 350px;
            height: 500px;
          }
        }
      }
    }
  }
}